## How to import dataset in python using pandas library?
Written by: Pooja Dinani\
Date: 10/11/2023\
Email: piyadinani@gmail.com

In [9]:
# Step-1
# Importing Libraries
import pandas as pd

In [ ]:
# Assignment
# Reading/Importing Dataset
pd.read_excel(r"C:\Users\Kabir\Desktop\Machine Learning\Python Ka Chilla\day_1\pandas_01_day6.xlsx")

In [10]:
# Step-2
# Reading/Importing Dataset
df = pd.read_excel("pandas_01_day6.xlsx")

In [11]:
df

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [16]:
df.head(6)

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani

In [17]:
df.tail(6)

    height  weight favourite_dish
81     5.5      52  Karahi Ghosht
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [15]:
df.shape

(87, 3)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB